#container
{
    position: absolute;
    top: 0px;
    left: 20px;
}

#div_screen1
{
    position: absolute;
    top: 25px;
    left: 250px;
    overflow-x: "scroll";
    overflow-y: "scroll";
}

#canvas_screen1
{
	position: absolute;
    top: 0px;
    left: 0px;
	border: 3px solid #00E46F;
}

#div_screen2
{
    position: absolute;
    top: 200px;
    left: 250px;
    overflow-x: "scroll";
    overflow-y: "scroll";
}
#canvas_screen2
{
	position: absolute;
    top: 0px;
    left: 0px;
	border: 3px solid #00E46F;
}

#div_screen3
{
    position: absolute;
    top: 375px;
    left: 250px;
    overflow-x: "scroll";
    overflow-y: "scroll";
}
#canvas_screen3
{
	position: absolute;
    top: 0px;
    left: 0px;
	border: 3px solid #00E46F;
}

#div_screen4
{
    position: absolute;
    top: 550px;
    left: 250px;
    overflow-x: "scroll";
    overflow-y: "scroll";
}
#canvas_screen4
{
	position: absolute;
    top: 0px;
    left: 0px;
	border: 3px solid #00E46F;
}

#div_screen5
{
    position: absolute;
    top: 25px;
    left: 575px;
    overflow-x: "scroll";
    overflow-y: "scroll";
}
#canvas_screen5
{
	position: absolute;
    top: 0px;
    left: 0px;
	border: 3px solid #00E46F;
}

#button_emstop 
{
    background-color: red;
    position: absolute;
    left: 0px;
    top: 630px;
}

#legstick
{
    position: absolute;
    left: 0px;
    top: 500px;
}

#headstick
{
    position: absolute;
    left: 120px;
    top: 500px;
}
#button_download
{
    position: absolute;
    top: 25px;
    left: 0px;
}

#lighting
{
    position: relative;
    top: 75px;
    left: 0px;
}

#select_tag
{
    position: absolute;
    top: 260px;
    left: 0px;
}

#button_log
{
    position: absolute;
    top: 290px;
    left: 0px;
}

#input_startlat
{
    position: absolute;
    top: 330px;
    left: 0px;
}

#output_startlat
{
    position: absolute;
    top: 340px;
    left: 200px;
}

#input_startlon
{
    position: absolute;
    top: 370px;
    left: 0px;
}

#output_startlon
{
    position: absolute;
    top: 380px;
    left: 200px;
}

#input_startbearing
{
    position: absolute;
    top: 410px;
    left: 0px;
}

#output_startbearing
{
    position: absolute;
    top: 420px;
    left: 200px;
}

#button_startlog
{
    position: absolute;
    top: 450px;
    left: 0px;
}

